<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Labs</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('courseteam') }}">CourseTeam</a></li>
                <li><a href="{{ url_for('assignments') }}">Assignments</a></li>
                <li><a href="{{ url_for('syllabus') }}">Syllabus</a></li>
                <li><a href="{{ url_for('anonfeedback') }}">Anon Feedback</a></li>
                <li><a href="{{ url_for('piazza') }}">Piazza</a></li>
                <li><a href="{{ url_for('markus') }}">Markus</a></li>
                <li><a href="{{ url_for('labs') }}">Labs</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1 class="main-title">Labs</h1>
        <p>This section contains the tutorial exercises.</p>
        <p>Tutorials are held every week. The first tutorial week is week 2. Please make use of this valuable resource!</p>
        <table>
            <tr>
                <th>Week</th>
                <th>Lab</th>
            </tr>
            <tr>
                <td>2</td>
                <td><a href="{{ url_for('static', filename='Tutorial Week 2.pdf') }}" target="_blank">Tutorial Week 2</a></td>
            </tr>
            <tr>
                <td>3</td>
                <td><a href="{{ url_for('static', filename='Tutorial Week 3.pdf') }}" target="_blank">Tutorial Week 3</a></td>
            </tr>
            <tr>
                <td>4</td>
                <td><a href="{{ url_for('static', filename='Tutorial Week 4.pdf') }}" target="_blank">Tutorial Week 4</a></td>
            </tr>
            <tr>
                <td>5</td>
                <td><a href="{{ url_for('static', filename='Tutorial Week 5.pdf') }}" target="_blank">Tutorial Week 5</a></td>
            </tr>
            <tr>
                <td>6</td>
                <td><a href="{{ url_for('static', filename='Tutorial Week 6.pdf') }}" target="_blank">Tutorial Week 6</a></td>
            </tr>
            <tr>
                <td>8</td>
                <td><a href="{{ url_for('static', filename='Tutorial Week 8.pdf') }}" target="_blank">Tutorial Week 8</a></td>
            </tr>
            <tr>
                <td>9</td>
                <td><a href="{{ url_for('static', filename='Tutorial Week 9.pdf') }}" target="_blank">Tutorial Week 9</a></td>
            </tr>
            <tr>
                <td>10</td>
                <td><a href="{{ url_for('static', filename='Tutorial Week 10.pdf') }}" target="_blank">Tutorial Week 10</a></td>
            </tr>
        </table>
    </main>
    <footer>
        <p><a href="https://www.cs.toronto.edu/">Department of Computer Science at UofT</a></p>
        <p>Site designed by David La</p>
    </footer>
</body>
</html>
