<!DOCTYPE html>
<html lang="en" dir="ltr">
 <head>
   <meta charset="utf-8">
   <title>Lecture Notes</title>
   <link rel="stylesheet" href="{{ url_for('static', filename='css/template.css') }}">
   <script type='text/javascript' src="{{url_for('static', filename='js/jquery-3.7.1.min.js')}}"></script>

 </head>
 <body>
    <header>
      <div class="container">
        <h1 class="logo">Lecture Notes for B20</h1>
        <strong>
        <nav class="navigation">
          
            {% if session.name %}
            <a href="{{ url_for('home') }}">Home</a>
            <a href="{{ url_for('notes') }}">Notes</a>
            <a href="{{ url_for('add') }}">Add Notes</a>
            <a href="{{ url_for('logout') }}">Log Out</a>
            {% else %}
            <a href="{{ url_for('home') }}">Home</a>
            <a href="{{ url_for('register') }}">Register</a>
            <a href="{{ url_for('login') }}">Log In</a>
            {% endif %}
         
        </nav>
        </strong>
      </div>
    </header>
    <br>
    
    {% block content %}
    {% endblock %}
 
    
 </body>
 
</html>
